@mixin static-center-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

@mixin pill-box {
  border-radius: 50px;
}

@mixin half-pill-box-top {
  border-radius: 50px 50px 0 0;
}

@mixin transparent-background {
  background: rgba(255, 255, 255, 0.1);
}

@mixin mat-button-transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  @include transparent-background;
  font-size: 10px;
}

@mixin thin-border {
  border: 1px solid white;
}

@mixin input-field--1 {
  color: #1BA098;
  background-color: #041723;
  border-color: #041723;
  border-radius: 5px;
  height: 32px;
  display: flex;
  align-items: center;
}


@mixin input-field--2 {
  padding: 0 12px;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  border: 1px white solid;
  border-radius: 5px;
  height: 32px;
  display: flex;
  align-items: center;
}

@mixin container {
  display: flex;
  flex-direction: column;
}

@mixin title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
