//Colors
$color-primary: #051622;
$color-secondary: #1BA098;
$color-tertiary: #FF8A8A;
$color-black: #000000;



$z-index-header: 10;

$margin-all-sides-value: 30;
$margin-all-sides: 30px;

$height-of-arc-top-value: 102;
$height-of-arc-top: 102px;
$height-content-header-value: 65;
$height-content-header: 65px;

$width-of-static-pane: 88vw;


$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-xlarge: 32px;


