.card {
  background: rgba(255,255,255,0.4);
  border-radius: 35px;
  padding: 15px 5px 0 5px;
}


.btn-link {
  font-weight: 400;
  color: #041723;
  text-decoration: none;
}


.btn-primary {
  color: #1BA098;
  background-color: #041723;
  border-color: #041723;
}
