.card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 35px;
  padding: 15px 5px 0 5px;
}


.btn-link {
  font-weight: 400;
  color: #041723;
  text-decoration: none;
}


.btn-primary {
  color: #1BA098;
  background-color: #041723;
  border-color: #041723;
}

.signup-card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 35px;
}

.content {
  padding: 15px 12px 10px 12px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signup-btn {
  color: #1BA098;
  background-color: #041723;
  border-color: #041723;
  border-radius: 5px;
  height: 32px;
  display: flex;
  align-items: center;
}

.user-input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 49%;
}

.container--double {
  display: flex;
  justify-content: space-around;
}

.invalid-feedback {
  color: #FF8A8A;
}
