label {
  padding-left: 10px;
  margin-bottom: 0px;
}

.third-row {
  display: flex;
}

.cvc-container{
  flex: 0 0 50%;
}



.expiration-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.input {
  display: flex;
  align-items: center;
}

.exp-month {
  text-align: center;
}

.form-control {
  background: rgba(255, 255, 255, 0.4);
  color: white;
}

