@import "../../../sass/mixins";

label {
  margin-bottom: 0px;
}

.third-row {
  display: flex;
}

.cvc-container{
  flex: 0 0 50%;
}

.expiration-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.input {
  display: flex;
  align-items: center;
}

.exp-month {
  text-align: center;
}

.form-control {
  @include input-field--2;
  margin-bottom: 5px;
}

.container {
  @include container;
}

.small {
  width: 35%;
}

.title {
  @include title;
}


