body {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  width: 100vw;
  transform-style: preserve-3d;
}
