<div *ngIf="!(authState | async).loading && innerWidth > 599" class="background">
  <div class="header">
    <div class="arc-top">
      <div class="name">
        <div class="logo">
          <button mat-mini-fab color="primary">
            <mat-icon>stars</mat-icon>
          </button>
        </div>
        <div class="title">
          BSX
        </div>
      </div>
      <div class="links">
        <ul *ngIf="!!(authState | async).user.firstName">
          <li>Home</li>
          <li><a routerLinkActive="active" [routerLink]="['/liquor']">Shop</a></li>
          <li>Contact</li>
        </ul>
        <ul *ngIf="!(authState | async).user.firstName">
          <li><a routerLinkActive="active" [routerLink]="['/login']">Login</a> </li>
          <li><a routerLinkActive="active" [routerLink]="['/signup']">Signup</a></li>
        </ul>
      </div>
      <div class="cart">
        <div class="total"><app-grandtotal [liquor]="liquorList" [cart]="userCart"></app-grandtotal></div>
        <div class="cart-icon">
          <button *ngIf="!!(authState | async).user.firstName" (click)="openCheckoutModal()" mat-mini-fab
            color="primary">
            <mat-icon>shop</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="{'continue' : !!(authState | async).user.firstName}" class="fixed-static-pane circular">
    <div class="fixed-static-pane-top">
      <div class="pane-info">
        <div *ngIf="!!(authState | async).user.firstName" class="box box--1"><span>Home/Products</span></div>
        <div class="box box--2"><span>{{title}}</span></div>
        <div *ngIf="!!(authState | async).user.firstName" class="box box--3">
          <form [formGroup]="form">
            <input formControlName="search" (keyup)="search()" class="search-input" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="bottom-arc">
      <router-outlet *ngIf="!(authState | async).loading"></router-outlet>
    </div>
  </div>
</div>

<div class="work-container" *ngIf="innerWidth < 600">
  <div>Mobile View is currently being developed. Try opening the application in a larger display</div>
  <lottie-player id="firstLottie" src="https://assets3.lottiefiles.com/packages/lf20_6gcjqbyv.json" background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop autoplay>"></lottie-player>
</div>
