.line-chart-container {
  transform: translateY(-55px);
  height: 130px;
  width: 250px;

  @media screen and (max-width: 714px) {
    height: 50px;
    width: 200px;
    transform: translateY(8px);
  }
}
