.box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
}

.box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index: 10;
}

.box .category {
  position: absolute;
  top: 30px;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  z-index: 10;
}

.box .price {
  position: absolute;
  top: 50px;
  text-align: center;
  color: #fff;
  width: 100%;
  transform-style: preserve-3d;
  z-index: 10;
}

.box .buy {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  z-index: 10;
}

.box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 200px;
  max-height: 200px;
  z-index: 100000;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-40%, -50%, 100px);
}


