@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/mixins";

.tile-container {
  margin: 2rem;
  background-color: white;
  border-radius: 20px;
  width: 250px;
  height: 230px;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 10px 24px 7px rgba(5, 22, 34, 0.7);
  overflow: hidden;
}

.title-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;

  .image {
    align-self: center;

    .image-cropper {
      width: 50px;
      height: 50px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
      }
    }
  }


  .title-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .title {
      font-size: $font-size-medium;
      font-weight: bold;
      flex: 0 0 100%;
      align-self: flex-end;
    }

    .info {
      font-size: $font-size-small;
      align-self: flex-start;
      display: flex;
      justify-content: flex-start;
    }
  }

}



.price-contianer {
  flex: 1;

  .container--1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .current-price {
      font-size: 32px;
    }

    .difference-percent {
      font-size: 12px;
      align-self: flex-start;
      color: #02c70a;
      font-weight: bold;
    }
  }

  .original-price {
    display: flex;
    justify-content: center;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
  }
}

.chart-container {
  height: 70px;
  width: 250px;
  transform: scale(1.1) translateX(-10px);
}
