@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/mixins";


.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 1rem;
  right: 1rem;

}

.tile-container {
  margin: 2rem;
  background-color: white;
  border-radius: 20px;
  width: 250px;
  height: 230px;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 10px 24px 7px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;

  &:link,
  &:visited {
    transition: all .2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 6px 20px 50px rgba(0, 0, 0, 0.7);
  }

  &:active {
    transform: translateY(-1px);
  }

  @media screen and (max-width: 714px) {
    width: 75vw;
    height: 50px;
    border-radius: 10px;
    flex-direction: row;
    white-space: nowrap;
    font-size: 12px;
    margin: 0.5rem 2rem;

    // &:first-child {
    //   margin-top: 2rem;
    // }

  }
}

.title-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;

  .image {
    align-self: center;

    .image-cropper {
      width: 50px;
      height: 50px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      // border: 1px solid black;

      @media screen and (max-width: 714px) {
        width: 45px;
        height: 45px;
      }

      img {
        display: inline;
        margin: auto;
        height: 100%;
        width: auto;
      }
    }
  }


  .title-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5px;

    .title {
      font-size: $font-size-medium;
      font-weight: bold;
      flex: 0 0 100%;
      align-self: flex-end;
    }

    .info {
      font-size: $font-size-small;
      align-self: flex-start;
      display: flex;
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: 714px) {
    flex: 0;
    min-width: 200px;
  }

}



.price-contianer {
  flex: 1;

  @media screen and (max-width: 714px) {
    flex: 0;
    padding-top: 8px;
  }

  .container--1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 714px) {
      align-items: center;
    }

    .current-price {
      font-size: 32px;
    }

    .difference-percent {
      font-size: 12px;
      align-self: flex-start;
      font-weight: bold;
    }
  }

  .original-price {
    display: flex;
    justify-content: center;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
  }
}

.green {
  color: #02c70a;
}

.red {
  color: #FF6926;
}

.chart-container {
  height: 65px;
  width: 250px;
  transform: scale(1.1);

  // @media screen and (max-width: 714px) {
  //   transform: scale(0.8);
  // }

}
