@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
//font-family: 'Source Sans Pro', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
